aiohttp
aiosignal
celery
Django
django-cors-headers
django-debug-toolbar
django-filter
django-ipware
django-jalali-date
django-redis
django-render-partial
djangorestframework
djangorestframework-simplejwt
drf-nested-routers
drf-writable-nested
drf-yasg
imageio
jdatetime
model-bakery
moviepy
Pillow
psycopg2
psycopg2-binary
py-code-meli
PyJWT
pytest
pytest-django
python-decouple
python-ipware
redis
requests
sentry-sdk
uuid
zeep
