aiohttp==3.8.6
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.6.0
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
az-iranian-bank-gateways==1.9.0
billiard==4.1.0
bleach==6.1.0
blinker==1.7.0
Brotli==1.1.0
build==1.0.3
CacheControl==0.13.1
celery==5.3.4
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
ConfigArgParse==1.7
crashtest==0.4.1
cryptography==41.0.7
defusedxml==0.7.1
diff-match-patch==20230430
distlib==0.3.8
Django==5.0
django-admin-honeypot==1.1.0
django-appconf==1.0.6
django-autocomplete-light==3.9.7
django-ckeditor==6.7.0
django-cors-headers==4.3.0
django-debug-toolbar==4.2.0
django-filter==23.3
django-hosts==6.0
django-import-export==3.3.5
django-jalali-date==1.0.2
django-jazzmin==2.6.0
django-js-asset==2.2.0
django-nested-admin==4.0.2
django-redis==5.4.0
django-reverse-admin==2.9.6
django-select2==8.1.2
django-subdomains==2.1.0
django-summernote==0.8.20.0
django-tinymce==3.6.1
django-unfold==0.18.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
dotty-dict==1.3.1
drf-nested-routers==0.93.4
drf-writable-nested==0.7.0
drf-yasg==1.21.7
dulwich==0.21.7
et-xmlfile==1.1.0
exceptiongroup==1.1.3
fastjsonschema==2.19.0
filelock==3.13.1
Flask==3.0.0
Flask-BasicAuth==0.2.0
Flask-Cors==4.0.0
frozenlist==1.4.0
gevent==23.9.1
geventhttpclient==2.0.11
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.3
gunicorn==21.2.0
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
ippanel==2.0.7
isodate==0.6.1
itsdangerous==2.1.2
jalali==1.2
jaraco.classes==3.3.0
jdatetime==4.1.1
jeepney==0.8.0
Jinja2==3.1.2
keyring==24.3.0
kombu==5.3.2
locust==2.20.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupPy==1.14
MarkupSafe==2.1.3
mdurl==0.1.2
model-bakery==1.17.0
more-itertools==10.1.0
msgpack==1.0.7
multidict==6.0.4
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.2
persiantools==3.0.1
pexpect==4.9.0
Pillow==10.1.0
pkginfo==1.9.6
platformdirs==3.11.0
pluggy==1.3.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
prompt-toolkit==3.0.39
psutil==5.9.7
psycopg2-binary==2.9.9
ptyprocess==0.7.0
py-code-meli==0.1.3
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
PyJWT==2.8.0
pyproject_hooks==1.0.0
pytest==7.4.3
pytest-django==4.7.0
python-dateutil==2.8.2
python-decouple==3.8
python-gitlab==4.2.0
python-monkey-business==1.0.0
python-semantic-release==8.7.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
rapidfuzz==3.5.2
redis==5.0.1
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
rich==13.7.0
roundrobin==0.0.4
SecretStorage==3.3.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sqlparse==0.4.4
tablib==3.5.0
tomli==2.0.1
tomlkit==0.12.3
trove-classifiers==2023.11.29
typing_extensions==4.9.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.1.0
vine==5.0.0
virtualenv==20.25.0
wcwidth==0.2.8
webencodings==0.5.1
Werkzeug==3.0.1
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
yarl==1.9.2
zeep==4.2.1
zipp==3.17.0
zope.event==5.0
zope.interface==6.1